ul{
  list-style: none;
}
ul li{
  margin: 0 20px;
}
ul li a{
  color: #ddd;
}
ul li a:hover{
  color: rgb(34, 179, 65);
  text-decoration: none;
}
.navbar {
  height: 115px;
}
.navbar-brand a{
  color: #28a745;
}
.navbar-brand a:hover{
  text-decoration: none;
  color: #28a745;
}